body {
    padding: 0;
    margin: 0;
}

.header {
    padding: 30px;
    text-align: center;
    background: #611502;
    color: white;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.sub-header {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.aboutText {
    font-size: 17px;
    font-weight: normal;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    line-height: 20px;
}

.about-section {
    margin: 100px 100px;
    background-color: black;
    color: white;
    width: 50%;
    height: 100%;
    border-color: gray;
    border-width: 10px;
    border-style: solid;
}

.project-section {
    text-align: right;
    margin: 240px 760px;
    background-color: black;
    color: white;
    width: 50%;
    height: 100%;
    border-color: gray;
    border-width: 10px;
    border-style: solid;
}

.projectText {
    text-align: left;
    font-size: 17px;
    font-weight: normal;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    line-height: 20px;
}